<ul class="social-icon icon-solid-rounded icon-size-{{ block.size }} text-center move-up wow">
    {% if companySocialMedias.companyFacebook|length > 0 %}
        <li class="facebook">
            <a target="_blank" href="{{ companySocialMedias.companyFacebook }}" class="link" aria-label="Facebook">
                <i class="fab fa-facebook"></i>
            </a>
        </li>
    {% endif %}
    {% if companySocialMedias.companyInstagram|length > 0 %}
        <li class="instagram">
            <a target="_blank" href="{{ companySocialMedias.companyInstagram }}" class="link" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
    {% endif %}
    {% if companySocialMedias.companyTwitter|length > 0 %}
        <li class="twitter">
            <a target="_blank" href="{{ companySocialMedias.companyTwitter }}" class="link" aria-label="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
    {% endif %}
    {% if companySocialMedias.companyYoutube|length > 0 %}
        <li class="youtube">
            <a target="_blank" href="{{ companySocialMedias.companyYoutube }}" class="link" aria-label="Youtube">
                <i class="fab fa-youtube"></i>
            </a>
        </li>
    {% endif %}
</ul>