{% include '/template_1/_components/_heading_banner' with {'title': 'Portfolio','subtitle': 'Check out our','imageUrl': '/assets/uploads/1588510581_heading-01.jpg'} %}


<div class="row-full-width clearfix"></div>
<div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true" class="row bg-grey row-has-fill row-no-padding  padding-lg-70t padding-lg-100b padding-sm-70b">
   <div class="column_container col-sm-12 ">
      <div class="column-inner margin-l-r">
         <div>
            <div data-unique-key="14ad5b356d917aa464e6341724c17a46" class="js-cs-load-more rooms">
               <div class=" cs-block cs-block--masonry js-cs-block--masonry cs-block--col4 cs-block--gap15 js-cs-load-more-block no-footer-content ">
                  <div class="cs-block__item cs-block__item--filter js-filter-content-block">
                     <div class="cs-block__item-wrapp">
                        <div class="cs-filter-content">
                           <a class="cs-filter-content__icon cs-filter-content__icon--active js-filter-content-btn" href="#">
                           <i></i>
                           </a>
                           <div class="cs-filter-content__wrapp">
                              <h3 class="cs-filter-content__title">{{title|default('Portfolio')}}</h3>
                              <div class="cs-filter-content__desc">
                                 <p>{{about|default('About our portfolio')}}</p>
                              </div>

                              <ul class="cs-filter-content__list">
                                 <li class="cs-filter-content__item cs-filter-content__item--active js-filter-content-item" data-filter="*">ALL</li>
                                 {% for tag in craft.tags().site(currentSite.handle).group('portfolio') %}
                                    <li class="cs-filter-content__item js-filter-content-item" data-filter="p_f_{{ tag.title|replace('/[^a-zA-Z0-9_+]/', '') }}">{{ tag }}</li>
                                 {% endfor %}
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>

                  {% for entry in craft.entries.section('portfolio').limit(18).all() %}
                     {% set entryTags = craft.tags.relatedTo(entry) %}
                     {% set tweakedEntryTags = [] %}
                     {% for tweakEntryTag in entryTags %}
                        {% set tweakedEntryTags = tweakedEntryTags|merge([
                           'p_f_' ~ tweakEntryTag|replace('/[^a-zA-Z0-9_+]/', '')
                        ]) %}
                     {% endfor %}

                     <div class="cs-block__item js-filter-simple-block {{tweakedEntryTags |join(' ')}} ">
                        <div class="cs-block__item-wrapp">
                           <div class="cs-portfolio cs-portfolio--masonry">
                              <a class="cs-portfolio__link cs-portfolio__link--masonry cs-portfolio__link--block cs-portfolio__link--parallax cs-portfolio__link--overlay" href="#" target="_self">
                                 {% set image = entry.portfolioImage.first() %}
                                 <img width="355" height="281" src="{{image.getUrl() }}" class="s-img-switch wp-post-image" alt="block-img" data-s-hidden="true" data-s-sibling="true" srcset="{{image.getUrl() }} 355w, {{image.getUrl() }} 300w" sizes="(max-width: 355px) 100vw, 355px" />
                                 <div class="cs-portfolio__img cs-portfolio__img--parallax"></div>
                                 <div class="cs-portfolio__overlay cs-portfolio__overlay--dark-xs cs-portfolio__overlay--hidden"></div>
                                 <div class="cs-portfolio__content cs-portfolio__content--masonry cs-portfolio__content--parallax">
                                    <h5 class="cs-portfolio__title cs-portfolio__title--masonry">{{ entry.title }}</h5>
                                    <div class="cs-portfolio__pix cs-portfolio__pix--masonry cs-portfolio__pix--content">
                                       {{ entry.portfolioSubtitle }}
                                    </div>
                                 </div>
                              </a>
                           </div>
                        </div>
                     </div>
                  {% endfor %}

               </div>
               <div class="row margin-lg-30t">
                  <div class="col-xs-12 t-center">
                     <a href="/Portfolio">
                        <button class="load-more cs-btn cs-btn--btn">VIEW ALL</button>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>