{% if block %}
    {% set opacity = (block.backgroundColourOpacity / 100) %}

    {% if block.backgroundImage|length > 0 %}
        {% set imageUrl = block.backgroundImage.first().getUrl() %}
    {% else %}
        {% set imageUrl = '/img/bg/bg-image-16.jpg' %}
    {% endif %}


    {% set myCss %}
        .banner_{{ block.id}} {
            background-image: url({{ imageUrl }});
            position: relative;
        }
        .banner_{{ block.id }}:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: {{ block.backgroundColour }};
            opacity: {{ opacity }} !important;
        }
    {% endset %}

    {% includeCss myCss %}

    <!-- Start Hero Nav Slider Area -->
    <div class="brook-breadcaump-area bg_image--16 ptb--270 pt_md--190 pb_md--100 pt_sm--190 pb_sm--100 breadcaump-title-bar banner_{{ block.id }}" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcaump-inner text-center">
                        {% if block.textBlock %}

                            {% for block in block.textBlock.all() %}
                                {% include '/template_2/_components/_text_blocks' with {'text_block': block} %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Nav Slider Area -->
{% endif %}
