{% if block.containerBlock %}
    <div class="container-block {{ block.elementClass }}" id="{{ block.elementId }}" style="
        {% include '/template_2/_components/_extras/_element_extras' with { 'block' : block} %}
        {% include '/template_2/_components/_extras/_background_extras' with { 'block' : block} %}
        ">

        {% for innerBlock in block.containerBlock.all() %}
            {% switch innerBlock.type %}
            {% case "container" %}
                {% for entry in innerBlock.blocks.all() %}
                    <div class="container ptb--40 ptb-md--40">
                        {% include '/template_2/_components/_block_entry' with { 'entry' : entry } %}
                    </div>
                {% endfor %}
            {% case "div" %}
                {% for entry in innerBlock.blocks.all() %}
                    <div class="div">
                        {% include '/template_2/_components/_block_entry' with { 'entry' : entry } %}
                    </div>
                {% endfor %}
            {% default %}
                {{ dd('CONTAINER BLOCK!', innerBlock.type) }}

            {% endswitch %}
        {% endfor %}

    </div>
{% endif %}


{#{% if container %}#}
{#    <div class="container-block#}
{#        {{ container.elementClass }}#}
{#        {% for innerBlock in container.containerBlock.all() %}#}
{#            {% switch innerBlock.type %}#}
{#            {% case "container" %}#}
{#                container ptb--40 ptb-md--40#}
{#            {% case "div" %}#}
{#                div#}
{#            {% default %}#}
{#                {{ dd('CONTAINER BLOCK!', innerBlock.type) }}#}
{#            {% endswitch %}#}
{#        {% endfor %}#}
{#        "#}
{#         id="{{ container.elementId }}"#}
{#         style="{% include '/template_2/_components/_extras/_element_extras' with { 'block' : container} %}"#}
{#    >#}
{#        {% for innerBlock in container.containerBlock.all() %}#}
{#            {% for entry in innerBlock.blocks.all() %}#}
{#                {% include '/template_2/_components/_block_entry' with { 'entry' : entry } %}#}
{#            {% endfor %}#}
{#        {% endfor %}#}
{#    </div>#}
{#{% endif %}#}
