<div class="container-area ptb--40 ptb-md--40">


    <div class="container {{ block.elementClass }}" id="{{ block.elementId }}" style="
    {% if block.elementMarginTop > 0 %} margin-top:{{ block.elementMarginTop }}px; {% endif %}
    {% if block.elementMarginBottom > 0 %} margin-bottom:{{ block.elementMarginBottom }}px; {% endif %}
    {% if block.elementMarginLeft > 0 %} margin-left:{{ block.elementMarginLeft }}px; {% endif %}
    {% if block.elementMarginRight > 0 %} margin-right:{{ block.elementMarginRight }}px; {% endif %}
    {% if block.elementPaddingTop > 0 %} padding-top:{{ block.elementPaddingTop }}px; {% endif %}
    {% if block.elementPaddingBottom > 0 %} padding-bottom:{{ block.elementPaddingBottom }}px; {% endif %}
    {% if block.elementPaddingLeft > 0 %} padding-left:{{ block.elementPaddingLeft }}px; {% endif %}
    {% if block.elementPaddingRight > 0 %} padding-right:{{ block.elementPaddingRight }}px; {% endif %}
    ">

        {% if block.containerBlock %}

            {% for innerBlock in block.containerBlock.all() %}
                {% switch innerBlock.type %}
                {% case "container" %}

                    {% for entry in innerBlock.blocks.all() %}

                        {% include '/template_2/_components/_block_entry' with { 'entry' : entry } %}

                    {% endfor %}
                {% default %}
                    {{ dd('CONTAINER BLOCK', innerBlock.type) }}

                {% endswitch %}
            {% endfor %}
        {% endif %}

    </div>
</div>