
{% if testimonial is not defined %}
    {% set testimonial = {} %}
{% endif %}

{% if testimonial.testimonialTitle is not defined %}
{% endif %}
 {% if testimonial.testimonialBackground|length > 0 %}
    {% set imageUrl = testimonial.testimonialBackground.first().getUrl() %}
{% else %}
    {% set imageUrl = '/assets/uploads/1591557140_footerbg.svg' %}
 {% endif %}


<!-- Start Testimonial Area -->
<div class="brook-testimonial-area ptb--150 ptb-md--80 ptb-sm--60 bg_image--60 slick-arrow-hover" style="background-image: url({{ imageUrl }});">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="brook-section-title text-center mb--70">
                    <h6 class="heading-26 secondary-color text-uppercase fw-500">{{testimonial.testimonialTitle}}</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial-wrapper testimonial-active--single--arrow">
                    <div class="testimonial-container pb--60">
                        <!-- Start Single Testimonial -->
                        <div class="testimonial testimonial--creative">
                            <div class="brook-element-carousel nav-content  slick-arrow-center slick-dots-bottom "
                                 data-slick-options='{
                                    "spaceBetween": 15,
                                    "slidesToShow": 1,
                                    "slidesToScroll": 1,
                                    "arrows": false,
                                    "infinite": true,
                                    "dots": true,
                                    "focusOnSelect": true,
                                    "asNavFor": ".nav-thumb",
                                    "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "fas fa-angle-left" },
                                    "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "fas fa-angle-right" }
                                    }'>

                                {% for testimonialSlider in testimonial.testimonials.all() %}



                                    <!-- Start Single Testimonial -->
                                    <div class="testimonial testimonial_style--4">
                                        <div class="content">
                                            {% if testimonialSlider.title %}
                                                <h3>{{testimonialSlider.title}}</h3>
                                            {% endif %}
                                            <p>{{testimonialSlider.testimonialBody}}</p>
                                            <div class="testimonial-info">
                                                {% if testimonialSlider.testimonialImage|length > 0 %}
                                                    {% set image = testimonialSlider.testimonialImage.first() %}
                                                    <div class="post-thumbnail">
                                                        <img src="{{ image.getUrl() }}" alt="client image">
                                                    </div>
                                                {% endif %}
                                                <div class="clint-info">
                                                    <h6>{{testimonialSlider.testimonialAuthor}}</h6>
                                                    <span>{{testimonialSlider.testimonialAuthorSubtitle}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Testimonial -->
                                {% endfor %}

                            </div>
                        </div>
                        <!-- End Single Testimonial -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonial Area -->