{% set keyword = craft.request.getParam('keyword') %}
{% set minPrice = craft.request.getParam('min-price') %}
{% set maxPrice = craft.request.getParam('max-price') %}
{% set location = craft.request.getParam('location') %}
{% set status = craft.request.getParam('status') %}
{% set bedrooms = craft.request.getParam('bedrooms') %}
{% set bathrooms = craft.request.getParam('bathrooms') %}
{% set viewType = craft.request.getParam('viewType') %}
{% set sortBy = craft.request.getParam('sortBy') %}
{% set viewType = craft.request.getParam('viewType') %}


{% if(minPrice == "") %}
    {% set minPrice = 0 %}
{% endif %}

{% if(maxPrice == "") %}
    {% if status == "For Sale"%}
        {% set maxPrice = 1500000 %}
    {% elseif status == "Lettings"%}
        {% set maxPrice = 15000 %}
    {% else %}
        {% set maxPrice = 1500000 %}
    {% endif %}
{% endif %}

{% if(minPrice > maxPrice) %}
    {% set minPrice = 0 %}
{% endif %}

{% if(sortBy == "") %}
    {% set sortBy = "default" %}
{% endif %}

{% set url = '/api/property-search?keyword='~keyword~'&minPrice='~minPrice~'&maxPrice='~maxPrice~'&location='~location~'&status='~status~'&bedrooms='~bedrooms~'&bathrooms='~bathrooms~'&viewType='~viewType~'&sortBy='~sortBy~'&viewType='~viewType~'' %}
{% set client = {
    base_uri : 'https://pm-premier-api.azurewebsites.net',
    timeout : 10
} %}



{% set options = {} %}

{% set request = fetch(client, 'GET', url, options, false) %}

{% if(request.statusCode == 200) %}
    {% set data = request.body | json_decode() %}
{% endif %}


{% includeJsFile "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" %}
{% set myJs %}
    $(document).on('change', '#sortBy', function(e) {
        $('#sortByVal').val($(this).val());
        $('#propertySearchForm').submit();
    });
{% endset %}

{% includeJs myJs %}


<div class="row pl--15">
    <div class="col-lg-5 col-xl-4">
        <form id="propertySearchForm">
            <input type="hidden" id="sortByVal" name="sortBy" value="{{ sortBy }}">
            <!-- Start Sidebar Area -->
            <div class="shop-sidebar-container">
                <div class="shop-sidebar-wrapper">
                    <!-- Start Single Widget -->
                    <div class="shop-sidebar search">
                        <h5 class="widget-title">Search</h5>
                        <div class="search-box">
                            <input name="keyword" type="text" value="{{ keyword }}" placeholder="Enter keyword…">
                        </div>
                    </div>
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="shop-sidebar related-product-inner mt--30 wow">
                        <h5 class="widget-title">Filter by price <span class="filterByPrice">£<span id="minAmountSpan"></span>-<span id="maxAmountSpan"></span></span></h5>
                        <div class="content-shopby">
                            <div class="price_filter s-filter clear">
                                <input type="hidden" name="min-price" id="minPrice" value="{{ minPrice }}" readonly>
                                <input type="hidden" name="max-price" id="maxPrice" value="{{ maxPrice }}" readonly>
                                <div id="slider-range2"></div>
                                {% includeJsFile "https://code.jquery.com/ui/1.12.1/jquery-ui.js" %}

                                {% set mySliderJs %}
                                    $( function() {
                                        var minAmountSpan = $('#minAmountSpan');
                                        var maxAmountSpan = $('#maxAmountSpan');

                                        {% if status == "Lettings"%}
                                            var max = 15000;
                                        {% else %}
                                            var max = 1500000;
                                        {% endif %}

                                        var minPrice = {{ minPrice }}
                                        var maxPrice = {{ maxPrice }}
                                        // update span when loaded
                                        minAmountSpan.html(minPrice);
                                        maxAmountSpan.html(maxPrice);


                                        $(document).on('change', '#status', function(e) {
                                                if($(this).val() === 'Lettings'){
                                                    max = 15000;
                                                } else {
                                                    max = 1500000;
                                                    maxPrice = max; // set to max otherwise you could search for houses under 15,000
                                                }
                                                if(maxPrice > max){
                                                    maxPrice = max;
                                                }
                                                if(minPrice > max){
                                                    minPrice = 0;
                                                }
                                                sliderCreator();
                                            });
                                        sliderCreator();

                                        function sliderCreator() {
                                            $( "#slider-range2" ).slider({
                                                range: true,
                                                min: 0,
                                                max: max,
                                                values: [ minPrice, maxPrice ],
                                                slide: function( event, ui ) {
                                                    $( "#minPrice" ).val( ui.values[ 0 ] );
                                                    $( "#maxPrice" ).val( ui.values[ 1 ] );
                                                    minAmountSpan.html(ui.values[ 0 ].toLocaleString());
                                                    maxAmountSpan.html(ui.values[ 1 ].toLocaleString());
                                                }
                                            });

                                            $( "#minPrice" ).val( $( "#slider-range2" ).slider( "values", 0 ) );
                                            $( "#maxPrice" ).val( $( "#slider-range2" ).slider( "values", 1 ) );
                                            minAmountSpan.html($( "#slider-range2" ).slider( "values", 0 ).toLocaleString());
                                            maxAmountSpan.html($( "#slider-range2" ).slider( "values", 1 ).toLocaleString());
                                        }
                                    } );
                                {% endset %}

                                {% includeJs mySliderJs %}
                            </div>
                        </div>
                    </div>
                    <!-- End Single Widget -->

                    <div class="shop-sidebar search mt--30 ">
                        <h5 class="widget-title">Location</h5>
                        <select name="location" class="nice-select">
                            <option value="" {% if location == ""%}selected{% endif %}>Select Location</option>
                            <option value="Cardiff" {% if location == "Cardiff"%}selected{% endif %}>Cardiff</option>
                            <option value="Newport" {% if location == "Newport"%}selected{% endif %}>Newport</option>
                            <option value="Swansea" {% if location == "Swansea"%}selected{% endif %}>Swansea</option>
                            <option value="Port Talbot" {% if location == "Port Talbot"%}selected{% endif %}>Port Talbot</option>
                            <option value="Bridgend" {% if location == "Bridgend"%}selected{% endif %}>Bridgend</option>
                        </select>
                    </div>

                    <div class="shop-sidebar search mt--30 ">
                        <h5 class="widget-title">Status</h5>
                        <select name="status" id="status" class="nice-select">
                            <option value="" {% if status == ""%}selected{% endif %}>Select Status</option>
                            <option value="For Sale" {% if status == "For Sale"%}selected{% endif %}>For Sale</option>
                            <option value="Lettings" {% if status == "Lettings"%}selected{% endif %}>Lettings</option>
                        </select>
                    </div>

                    <div class="shop-sidebar search">
                        <div class="row">
                            <div class="col-md-6 mt--30 ">
                                <h5 class="widget-title">Min Bedrooms</h5>
                                <select name="bedrooms" class="nice-select">
                                    <option value="any" {% if bedrooms == "any" or bedrooms == "" %}selected{% endif %}>Any</option>
                                    {% for i in 1..12 %}
                                        <option value="{{ i }}" {% if bedrooms|number_format == i %}selected{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6 mt--30 ">
                                <h5 class="widget-title">Min Bathrooms</h5>
                                <select name="bathrooms" class="nice-select">
                                    <option value="any" {% if bathrooms == "any" or bathrooms == "" %}selected{% endif %}>Any</option>
                                    {% for i in 1..12 %}
                                        <option value="{{ i }}" {% if bathrooms|number_format == i %}selected{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- End Single Widget -->
                    <button type="submit" class="mt--30 brook-btn btn-text-white  btn-bg-secondaryColour  btn-sd-size   btn-rectangle w-100">Search</button>
                </div>
            </div>
            <!-- End Sidebar Area -->
        </form>
    </div>
    <div class="col-lg-7 col-xl-8">
        <div class="shop-details">
            <span class="properties-found">
                {{ data | length }} Properties found
            </span>
            <div class="shop-sorting">
                <span class="sort-by">Sort By: </span>
                <select id="sortBy" class="nice-select">
                    <option value="default" {% if sortBy == "default" %}selected{% endif %}
                    >Default Order</option>
                    <option value="price-asc" {% if sortBy == "price-asc" %}selected{% endif %}
                    >Price Low To High</option>
                    <option value="price-desc" {% if sortBy == "price-desc" %}selected{% endif %}
                    >Price High To Low</option>
                    <option value="date-asc"{% if sortBy == "date-asc" %}selected{% endif %}
                    >Date Old To New</option>
                    <option value="date-desc"{% if sortBy == "date-desc" %}selected{% endif %}
                    >Date New To Old</option>
                </select>
            </div>
            <div class="shop-style">
                <div class="brook-pagination-wrapper text-center">
                    <ul class="brook-pagination">
                        <li class="active"><a href="#"><i class="fa fa-th"></i></a></li>
{#                        <li><a href="#"><i class="fa fa-list"></i></a></li>#}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Start Shop Minimal Product -->
        <div class="shop-minimal-product">
            <div class="row row--25">

                {% for property in data %}

                <!-- Start Single Product -->
                <div class="col-lg-6 col-xl-4 col-md-6 col-sm-6 col-12">
                    <div class="product mt--30">
                        <a href="/property/{{ property['propertyID'] }}">
                            <div class="product-thumbnail">
                                <div class="thumbnail letting-station-thumbnail border-radius-10">
                                    {% if property['property_images'][0] is defined and not null %}
                                    <div class="product-main-image">
                                        <img src="{{ property['property_images'][0]['imageURL'] }}" alt="Multipurpose">
                                    </div>
                                    {% endif %}
                                    {% if property['property_images'][1] is defined and not null %}
                                    <div class="product-hover-image">
                                        <img src="{{ property['property_images'][1]['imageURL'] }}" alt="Multipurpose">
                                    </div>
                                    {% endif %}
                                    <div class="product-badges">
                                        {% if property['propertyType'] is defined and not null %}
                                            <div class="itemtype">
                                                {% switch property['propertyType'] %}
                                                {% case '1' %}
                                                    House
                                                {% case '2' %}
                                                    Flat/Apartment
                                                {% case '3' %}
                                                    Bunglaow
                                                {% default %}
                                                    Other
                                                {% endswitch %}
                                            </div>
                                        {% endif %}
                                        {% if property['availability'] is defined and not null %}
                                            <div class="itemstatus">
                                                {% switch property['availability'] %}
                                                {% case '1' %}
                                                    On Hold
                                                {% case '2' %}
                                                    {% if property['availability'] is not null and property['department'] == "Lettings" %}
                                                        To Let
                                                    {% else %}
                                                        For Sale
                                                    {% endif %}
                                                {% case '3' %}
                                                    {% if property['availability'] is not null and property['department'] == "Lettings" %}
                                                        {#References Pending#}
                                                        Let Agreed
                                                    {% else %}
                                                        Under Offer
                                                    {% endif %}
                                                {% case '4' %}
                                                    {% if property['availability'] is not null and property['department'] == "Lettings" %}
                                                        Let Agreed
                                                    {% else %}
                                                        Sold STC
                                                    {% endif %}
                                                {% case '5' %}
                                                    {% if property['availability'] is not null and property['department'] == "Lettings" %}
                                                        Let {#  #}
                                                    {% else %}
                                                        Sold
                                                    {% endif %}
                                                {% case '6' %}
                                                    {% if property['availability'] is not null and property['department'] == "Lettings" %}
                                                        Withdrawn
                                                    {% else %}
                                                    {% endif %}
                                                {% case '7' %}
                                                    Withdrawn
                                                {% default %}
                                                    Other
                                                {% endswitch %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {#<div class="product-action">#}
                                {#    <ul class="action-list text-center tooltip-layout">#}
                                {#        <li class="single-action addto-cart">#}
                                {#            <a href="cart.html" class="link hint--bounce hint--top hint--dark" aria-label="Add to Cart">#}
                                {#                <i class="fas fa-shopping-bag"></i>#}
                                {#            </a>#}
                                {#        </li>#}
                                {#        <li class="single-action wishlist">#}
                                {#            <a href="wishlist.html" class="link hint--bounce hint--top hint--dark" aria-label="Add to Wishlist">#}
                                {#                <i class="far fa-heart"></i>#}
                                {#            </a>#}
                                {#        </li>#}
                                {#    </ul>#}
                                {#</div>#}
                            </div>
                            <div class="product-info">
                            <h5 class="heading heading-h5">
                                {{ property['propertyBedrooms'] }} Bedroom
                                {% switch property['propertyType'] %}
                                {% case '1' %}
                                    House
                                {% case '2' %}
                                    Flat/Apartment
                                {% case '3' %}
                                    Bunglaow
                                {% endswitch %}
                            </h5>

                            <ul class="product-svgs">
{#                                {% if property['floorArea'] != '0.00' %}#}
{#                                <li>#}
{#                                    <div class="item">#}
{#                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">#}
{#                                              <g>#}
{#                                                  <g>#}
{#                                                      <path d="M501.533,450.097l-33.38-33.38c-6.521-6.521-17.087-6.521-23.609,0c-6.521,6.516-6.521,17.092,0,23.609l4.892,4.892#}
{#                                                       H129.349l4.892-4.892c6.521-6.516,6.521-17.092,0-23.609c-6.521-6.521-17.087-6.521-23.609,0l-33.38,33.38#}
{#                                                       c-3.275,3.269-4.903,7.73-4.903,11.816c0,4.174,1.714,8.633,4.903,11.816l33.38,33.38c6.522,6.522,17.086,6.522,23.609,0#}
{#                                                       c6.521-6.516,6.521-17.092,0-23.609l-4.892-4.892h320.087l-4.892,4.892c-6.521,6.516-6.521,17.092,0,23.609#}
{#                                                       c6.522,6.522,17.086,6.522,23.609,0l33.38-33.38c3.27-3.262,4.903-7.721,4.903-11.816#}
{#                                                       C506.436,457.629,504.724,453.28,501.533,450.097z"></path>#}
{#                                                  </g>#}
{#                                              </g>#}
{#                                                                                    <g>#}
{#                                                                                        <g>#}
{#                                                                                            <path d="M77.241,349.935l-4.892,4.891V57l4.892,4.892c6.522,6.522,17.086,6.522,23.609,0c6.522-6.522,6.522-17.086,0-23.609#}
{#                                                       L67.458,4.892c-6.521-6.521-17.087-6.521-23.609,0L10.458,38.283c-6.522,6.522-6.522,17.086,0,23.609#}
{#                                                       c6.521,6.521,17.087,6.521,23.609,0L38.958,57v297.826l-4.892-4.892c-6.521-6.521-17.087-6.521-23.609,0#}
{#                                                       c-6.522,6.522-6.522,17.086,0,23.609l33.391,33.391c6.522,6.522,17.086,6.522,23.609,0l33.391-33.391#}
{#                                                       c6.522-6.521,6.522-17.086,0.001-23.608C94.328,343.414,83.762,343.414,77.241,349.935z"></path>#}
{#                                                                                        </g>#}
{#                                                                                    </g>#}
{#                                                                                    <g>#}
{#                                                                                        <g>#}
{#                                                                                            <path d="M422.958,133.565h83.478V16.696C506.436,7.473,498.957,0,489.74,0H261.566v133.565h83.478#}
{#                                                       c9.217,0,16.696,7.473,16.696,16.696c0,9.223-7.479,16.696-16.696,16.696h-83.478v50.087c0,9.223-7.479,16.696-16.696,16.696#}
{#                                                       s-16.696-7.473-16.696-16.696V0h-72.348c-9.217,0-16.696,7.473-16.696,16.696v345.043c0,9.223,7.479,16.696,16.696,16.696h72.348#}
{#                                                       v-83.478c0-9.223,7.479-16.696,16.696-16.696s16.696,7.473,16.696,16.696v83.478H489.74c9.217,0,16.696-7.473,16.696-16.696#}
{#                                                       V166.957h-83.478c-9.217,0-16.696-7.473-16.696-16.696S413.74,133.565,422.958,133.565z"></path>#}
{#                                                                                        </g>#}
{#                                                                                    </g>#}
{#                                           </svg>#}
{#                                        <h6 class="property-meta-number">{{ property['floorArea'] }}</h6>#}
{#                                    </div>#}
{#                                </li>#}
{#                                {% endif %}#}
                                {% if property['propertyBedrooms'] != '0' %}
                                <li>
                                    <div class="item">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="910px" height="910px" viewBox="0 0 910 910" style="enable-background:new 0 0 910 910;" xml:space="preserve">
                                          <g>
                                              <g>
                                                  <path d="M789.1,449.9H879V369c0-16.8-13.7-30.5-30.5-30.5H342.1c1.601,3.3,3.101,6.6,4.601,10c10.2,24.2,15.399,49.9,15.399,76.4
                                                   c0,8.399-0.5,16.8-1.6,25H789.1z"></path>
                                                  <path d="M165.9,263.7c-3.4,0-6.7,0.1-10,0.3v185.8H267h58.1c1.301-8.2,1.9-16.5,1.9-25c0-31.8-9.2-61.399-25.1-86.3
                                                   C273.4,293.5,223.1,263.7,165.9,263.7z"></path>
                                                  <path d="M30,731.5h60.9c16.6,0,30-13.4,30-30v-95.7h668.2v95.7c0,16.6,13.4,30,30,30H880c16.6,0,30-13.4,30-30V514.9
                                                   c0-16.601-13.4-30-30-30h-90.9H120.9V270.1v-61.6c0-16.6-13.4-30-30-30H30c-16.6,0-30,13.4-30,30v111.7v38.5V491v38.5v172
                                                   C0,718,13.4,731.5,30,731.5z"></path>
                                              </g>
                                          </g>
                                       </svg>
                                        <h6 class="property-meta-number">{{ property['propertyBedrooms'] }}</h6>
                                    </div>
                                </li>
                                {% endif %}
                                {% if property['propertyBathrooms'] != '0' %}
                                <li>
                                    <div class="item">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                              <g>
                                                  <g>
                                                      <path d="M484.66,461.309l-8.06-19.028c-17.218,15.087-38.093,26.095-61.107,31.495l14.787,19.245
                                                       c5.965,7.762,15.371,12.396,25.162,12.396c10.672,0,20.561-5.312,26.455-14.208C487.789,482.311,488.823,471.134,484.66,461.309z"></path>
                                                  </g>
                                              </g>
                                                                                    <g>
                                                                                        <g>
                                                                                            <path d="M35.401,442.281l-8.06,19.028c-4.162,9.826-3.129,21.003,2.764,29.899c5.893,8.896,15.783,14.208,26.455,14.208
                                                       c9.79,0,19.195-4.634,25.163-12.397l14.786-19.244C73.494,468.376,52.618,457.368,35.401,442.281z"></path>
                                                                                        </g>
                                                                                    </g>
                                                                                    <g>
                                                                                        <g>
                                                                                            <path d="M183.109,60.263h-1.639c-4.049-30.259-30.015-53.679-61.364-53.679h-13.814c-34.148,0-61.931,27.782-61.931,61.931
                                                       v129.717h30.073V68.514c0-17.566,14.292-31.858,31.858-31.858h13.814c14.713,0,27.122,10.028,30.768,23.606h-2.429
                                                       c-23.922,0-43.384,19.462-43.384,43.384v25.366c0,8.042,6.319,14.59,14.26,14.997c0.259,0.013,0.514,0.039,0.776,0.039h91.359
                                                       c8.304,0,15.036-6.732,15.036-15.036v-25.365C226.493,79.725,207.031,60.263,183.109,60.263z"></path>
                                                                                        </g>
                                                                                    </g>
                                                                                    <g>
                                                                                        <g>
                                                                                            <path d="M16.881,316.254v19.082c0,61.821,50.294,112.116,112.115,112.116h254.009c61.82,0,112.115-50.294,112.115-112.116v-19.082
                                                       H16.881z"></path>
                                                                                        </g>
                                                                                    </g>
                                                                                    <g>
                                                                                        <g>
                                                                                            <path d="M490.37,242.697H21.63C9.703,242.698,0,252.402,0,264.329s9.703,21.63,21.63,21.63h468.74
                                                       c11.927,0,21.63-9.703,21.63-21.63S502.297,242.697,490.37,242.697z"></path>
                                                                                        </g>
                                                                                    </g>
                                           </svg>
                                        <h6 class="property-meta-number">{{ property['propertyBathrooms'] }}</h6>
                                    </div>
                                </li>
                                {% endif %}
                                {% if property['propertyReceptionRooms'] != '0' %}
                                <li>
                                    <div class="item">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                        <g>
                                            <g>
                                                <g>
                                                    <path d="M383.363,208.159l-21.333-85.333c-2.374-9.497-10.907-16.159-20.696-16.159h-23.109C308.081,46.093,255.477,0,192,0
                                                        C121.253,0,64,57.253,64,128v298.667c0,23.589-19.078,42.667-42.667,42.667C9.551,469.333,0,478.885,0,490.667
                                                        S9.551,512,21.333,512c25.504,0,48.367-11.184,64-28.901c15.633,17.718,38.496,28.901,64,28.901
                                                        c11.782,0,21.333-9.551,21.333-21.333s-9.551-21.333-21.333-21.333c-23.589,0-42.667-19.078-42.667-42.667V128
                                                        c0-47.183,38.15-85.333,85.333-85.333c39.815,0,73.197,27.165,82.653,64H256c-9.789,0-18.322,6.662-20.696,16.159l-21.333,85.333
                                                        c-3.366,13.464,6.818,26.507,20.696,26.507h128C376.546,234.667,386.729,221.624,383.363,208.159z M261.99,192l10.667-42.667
                                                        h52.02L335.343,192H261.99z"/>
                                                    <path d="M490.667,192h-64c-11.782,0-21.333,9.551-21.333,21.333v85.333h-128C265.551,298.667,256,308.218,256,320v128
                                                        c0,11.782,9.551,21.333,21.333,21.333h21.333v21.333c0,11.782,9.551,21.333,21.333,21.333s21.333-9.551,21.333-21.333v-21.333
                                                        h85.333v21.333c0,11.782,9.551,21.333,21.333,21.333c11.782,0,21.333-9.551,21.333-21.333v-21.333h21.333
                                                        c11.782,0,21.333-9.551,21.333-21.333V320V213.333C512,201.551,502.449,192,490.667,192z M448,234.667h21.333v64H448V234.667z
                                                         M469.333,426.667H298.667v-85.333h128h42.667V426.667z"/>
                                                </g>
                                            </g>
                                        </g>
                                        </svg>
                                        <h6 class="property-meta-number">{{ property['propertyReceptionRooms'] }}</h6>
                                    </div>
                                </li>
                                {% endif %}
                                {% if property['propertyEnsuites'] != '0' %}
                                    <li>
                                        <div class="item">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                              <g>
                                                  <g>
                                                      <path d="M484.66,461.309l-8.06-19.028c-17.218,15.087-38.093,26.095-61.107,31.495l14.787,19.245
                                                       c5.965,7.762,15.371,12.396,25.162,12.396c10.672,0,20.561-5.312,26.455-14.208C487.789,482.311,488.823,471.134,484.66,461.309z"></path>
                                                  </g>
                                              </g>
                                                                                        <g>
                                                                                            <g>
                                                                                                <path d="M35.401,442.281l-8.06,19.028c-4.162,9.826-3.129,21.003,2.764,29.899c5.893,8.896,15.783,14.208,26.455,14.208
                                                       c9.79,0,19.195-4.634,25.163-12.397l14.786-19.244C73.494,468.376,52.618,457.368,35.401,442.281z"></path>
                                                                                            </g>
                                                                                        </g>
                                                                                        <g>
                                                                                            <g>
                                                                                                <path d="M183.109,60.263h-1.639c-4.049-30.259-30.015-53.679-61.364-53.679h-13.814c-34.148,0-61.931,27.782-61.931,61.931
                                                       v129.717h30.073V68.514c0-17.566,14.292-31.858,31.858-31.858h13.814c14.713,0,27.122,10.028,30.768,23.606h-2.429
                                                       c-23.922,0-43.384,19.462-43.384,43.384v25.366c0,8.042,6.319,14.59,14.26,14.997c0.259,0.013,0.514,0.039,0.776,0.039h91.359
                                                       c8.304,0,15.036-6.732,15.036-15.036v-25.365C226.493,79.725,207.031,60.263,183.109,60.263z"></path>
                                                                                            </g>
                                                                                        </g>
                                                                                        <g>
                                                                                            <g>
                                                                                                <path d="M16.881,316.254v19.082c0,61.821,50.294,112.116,112.115,112.116h254.009c61.82,0,112.115-50.294,112.115-112.116v-19.082
                                                       H16.881z"></path>
                                                                                            </g>
                                                                                        </g>
                                                                                        <g>
                                                                                            <g>
                                                                                                <path d="M490.37,242.697H21.63C9.703,242.698,0,252.402,0,264.329s9.703,21.63,21.63,21.63h468.74
                                                       c11.927,0,21.63-9.703,21.63-21.63S502.297,242.697,490.37,242.697z"></path>
                                                                                            </g>
                                                                                        </g>
                                           </svg>
                                            <h6 class="property-meta-number">{{ property['propertyEnsuites'] }}</h6>
                                        </div>
                                    </li>
                                {% endif %}
                                {% if property['propertyKitchens'] != '0' %}
                                    <li>
                                        <div class="item">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="612px" height="612px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                                               <g>
                                                   <g>
                                                       <path d="M28.688,545.062h133.875V363.375H28.688V545.062z M126.11,443.461c6.273,0,11.36,5.087,11.36,11.36    c0,6.272-5.087,11.36-11.36,11.36s-11.36-5.097-11.36-11.37C114.75,448.548,119.837,443.461,126.11,443.461z"/>
                                                       <path d="M191.25,602.438V573.75v-28.688V334.688H153h-19.125h-9.562H0v210.375v28.688v28.688h28.688V573.75h133.875v28.688H191.25    z M28.688,554.625h-9.562v-9.562v-191.25h153v191.25v9.562h-9.562H28.688z"/>
                                                       <path d="M229.5,545.062h133.875V363.375H229.5V545.062z M336.485,443.461c6.272,0,11.36,5.087,11.36,11.36    c0,6.272-5.088,11.36-11.36,11.36c-6.273,0-11.36-5.097-11.36-11.37C325.125,448.548,330.212,443.461,336.485,443.461z"/>
                                                       <path d="M392.062,602.438V573.75v-28.688V334.688h-114.75h-28.688H229.5h-28.688v210.375v28.688v28.688H229.5V573.75h133.875    v28.688H392.062z M229.5,554.625h-9.562v-9.562v-191.25h153v191.25v9.562h-9.562H229.5z"/>
                                                       <rect x="430.312" y="439.875" width="153" height="105.188"/>
                                                       <path d="M573.75,325.125h-47.812c-5.278,0-9.562,4.284-9.562,9.562H497.25c0-5.278-4.284-9.562-9.562-9.562h-47.812    c-5.278,0-9.562,4.284-9.562,9.562h-28.688v210.375v28.688v28.688h28.688V573.75h153v28.688H612V573.75v-28.688V334.688h-28.688    C583.312,329.409,579.028,325.125,573.75,325.125z M548.648,368.749c0,6.273-5.087,11.36-11.36,11.36    c-6.272,0-11.351-5.087-11.351-11.36c0-6.272,5.087-11.36,11.36-11.36C543.57,357.389,548.648,362.485,548.648,368.749z     M573.75,401.625c2.64,0,4.781,2.142,4.781,4.781s-2.142,4.781-4.781,4.781H439.875c-2.64,0-4.781-2.142-4.781-4.781    s2.142-4.781,4.781-4.781H573.75z M500.836,368.749c0,6.273-5.087,11.36-11.36,11.36c-6.272,0-11.351-5.087-11.351-11.36    c0-6.272,5.087-11.36,11.36-11.36C495.758,357.389,500.836,362.485,500.836,368.749z M441.673,357.398    c6.272,0,11.36,5.087,11.36,11.36c0,6.272-5.088,11.36-11.36,11.36c-6.273,0-11.36-5.097-11.36-11.37    C430.312,362.485,435.399,357.398,441.673,357.398z M592.875,554.625h-9.562h-153h-9.562v-9.562v-114.75h172.125v114.75V554.625z     M585.11,357.398c6.272,0,11.36,5.087,11.36,11.36c0,6.272-5.088,11.36-11.36,11.36c-6.273,0-11.36-5.097-11.36-11.37    C573.75,362.485,578.837,357.398,585.11,357.398z"/>
                                                       <path d="M545.062,133.875V9.562H459v124.312h-28.688l-38.25,66.938H612l-38.25-66.938H545.062z M546.86,179.297    c-6.273,0-11.36-5.087-11.36-11.36s5.087-11.36,11.36-11.36c6.272,0,11.36,5.087,11.36,11.36    C558.211,174.209,553.124,179.297,546.86,179.297z"/>
                                                       <path d="M248.625,296.438h38.25c5.278,0,9.562-4.284,9.562-9.562s-4.284-9.562-9.562-9.562h-47.812    c-5.278,0-9.562,4.284-9.562,9.562v38.25h19.125V296.438z"/>
                                                       <path d="M153,325.125v-38.25c0-5.278-4.284-9.562-9.562-9.562H95.625c-5.278,0-9.562,4.284-9.562,9.562s4.284,9.562,9.562,9.562    h38.25v28.688H153z"/>
                                                       <path d="M200.812,325.125V267.75c5.278,0,9.562-4.284,9.562-9.562s-4.284-9.562-9.562-9.562V229.5    c0-5.278-4.284-9.562-9.562-9.562s-9.562,4.284-9.562,9.562v19.125c-5.278,0-9.562,4.284-9.562,9.562s4.284,9.562,9.562,9.562    v57.375H200.812z"/>
                                                       <path d="M353.812,124.312H150.772c13.053-11.073,21.353-27.569,21.353-46.015c0-33.335-27.023-60.358-60.358-60.358    S51.398,44.953,51.398,78.298c0,18.456,8.3,34.951,21.353,46.015H19.125v19.125h334.688V124.312z M71.719,78.298    c0-22.089,17.958-40.048,40.048-40.048s40.048,17.958,40.048,40.048s-17.958,40.048-40.048,40.048S71.719,100.377,71.719,78.298z"/>
                                                       <circle cx="111.767" cy="78.298" r="30.485"/>
                                                       <path d="M205.594,114.75h133.875c2.64,0,4.781-2.142,4.781-4.781s-2.142-4.781-4.781-4.781H205.594    c-2.639,0-4.781,2.142-4.781,4.781S202.955,114.75,205.594,114.75z"/>
                                                       <path d="M215.156,95.625h114.75c2.64,0,4.781-2.142,4.781-4.781s-2.142-4.781-4.781-4.781h-114.75    c-2.639,0-4.781,2.142-4.781,4.781S212.517,95.625,215.156,95.625z"/>
                                                       <path d="M215.156,76.5h114.75c2.64,0,4.781-2.142,4.781-4.781s-2.142-4.781-4.781-4.781h-114.75c-2.639,0-4.781,2.142-4.781,4.781    S212.517,76.5,215.156,76.5z"/>
                                                       <path d="M240.478,57.375h59.326c9.056,0,14.783-12.833,14.783-22.089c0-6.426-2.754-16.161-7.458-16.161h-73.995    c-4.705,0-7.459,9.744-7.459,16.161C225.694,44.542,231.422,57.375,240.478,57.375z"/>
                                                   </g>
                                               </g>
                                            </svg>
                                            <h6 class="property-meta-number">{{ property['propertyKitchens'] }}</h6>
                                        </div>
                                    </li>
                                {% endif %}
                            </ul>

                            <h6 class="heading heading-h6">
                                {{ property['displayAddress'] }}, {{ property['addressPostcode'] }}
                            </h6>
                            {#<p>{{ property['mainSummary'] }}</p>#}
                            {#<ul class="rating">#}
                            {#    <li><i class="fas fa-star"></i></li>#}
                            {#    <li><i class="fas fa-star"></i></li>#}
                            {#    <li><i class="fas fa-star"></i></li>#}
                            {#    <li><i class="fas fa-star"></i></li>#}
                            {#    <li><i class="fas fa-star"></i></li>#}
                            {#</ul>#}
                            <div class="price mt--15">
                                <div class="letting-station-border">
                                    <div class="letting-station-border-inner">
                                            {% if property['department'] == "Lettings" %}
                                                £{{ property['rent']|number_format(0, '', ',') }}
                                                Per Month
                                            {% else %}
                                                £{{ property['price']|number_format(0, '', ',') }}
                                            {% endif %}
                                    </div>
                                </div>
                                {#<span class="new-price">$58.00</span>#}
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                <!-- End Single Product -->
                {% endfor %}

                <!-- Start Pagenation Area -->
                <!--
                <div class="col-lg-12">
                    <div class="brook-pagination-wrapper text-center pt--80">
                        <ul class="brook-pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                -->
                <!-- End Pagenation Area -->
            </div>
        </div>
        <!-- End Shop Minimal Product -->
    </div>
</div>