{% extends '/template_2/_layout' %}

{% block main %}
    <!-- Page Content -->
    <main class="page-content">
        <!-- Start Blog Details -->
        <div class="brook-blog-details-area bg_color--1 pt--90 pb--150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                        <div class="blog-details-wrapper">
                            <article class="blog-post standard-post">
                                <!-- Start Header -->
                                <div class="header mb--40 text-center">
                                    <h3 class="heading heading-h3 font-32">{{ entry.title }}</h3>
                                    <div class="post-meta mt--20">
                                        <div class="post-date">{{entry.postDate|date('Y-m-d')}}</div>
                                        {% set entryTags = craft.tags.relatedTo(entry) %}
                                        {% set tweakedEntryTags = [] %}
                                        {% for tweakEntryTag in entryTags %}
                                            {% set tweakedEntryTags = tweakedEntryTags|merge([tweakEntryTag.title]) %}
                                        {% endfor %}
                                        {% for tag in tweakedEntryTags %}
                                            <div class="post-category"><a href="/Blog/Category/?q={{tag}}">{{ tag }}</a></div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- Start Thumbnail -->
                                <div class="thumbnail mb--60">
                                    {% set image = entry.blogImage.first() %}
                                    <img class="w-100" src="{{image.getUrl() }}" alt="{{ image.imageAltTag  }}">
                                </div>
                                <!-- Start Content -->
                                <div class="content basic-dark2-line-1px pb--50 mb--35">
                                    {{ entry.blogBody }}
                                </div>
                                <!-- Start Footer -->
                                <!--
                                <div class="blog-footer mb--85 wow move-up">
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-6 col-12">
                                            <div class="post-tag d-flex align-items-center">
                                                <h6 class="heading heading-h6">TAGS:</h6>
                                                <div class="blog-tag-list pl--5">
                                                    <a href="#">business</a>
                                                    <a href="#">format</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-12">
                                            <div class="post-share text-left text-sm-right">
                                                <h6 class="heading heading-h6">SHARE:</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                -->
                            </article>
                            <!-- Start Post Nav Links -->
                            <div class="post-nav-lisnt mb--45 wow move-up">
                                {# Set parameters for prev/next elements list #}
                                {% set params = craft.entries.section('blog').order('id asc') %}

                                {# Get the prev/next elements #}
                                {% set prevEntry = entry.getPrev(params) %}
                                {% set nextEntry = entry.getNext(params) %}

                                {# And make sure to only output the links if the element exists #}
                                {% if prevEntry %}
                                    <div class="nav-item previous">
                                        <a href="{{ prevEntry.url }}">
                                            <div class="link-text">
                                                <span class="fa fa-arrow-left"></span>
                                                <p class="">Prev</p>
                                            </div>
                                            <span>{{ prevEntry.title }}</span>
                                        </a>
                                    </div>
                                {% endif %}
                                {% if nextEntry %}
                                    <div class="nav-item next mt_sm--30">
                                        <a href="{{ nextEntry.url }}">
                                            <div class="link-text">
                                                <p class="">Next</p>
                                                <span class="fa fa-arrow-right"></span>
                                            </div>
                                            <span>{{ nextEntry.title }}</span>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                            <!-- End Post Nav Links -->
                            <!--
                            <div class="comments-wrapper">
                                <div class="inner">
                                    <h4 class="heading heading-h4">3 Comments</h4>
                                    <div class="commnent-list-wrap mt--25">
                                        <div class="comment wow move-up">
                                            <div class="thumb">
                                                <img src="img/blog/clint/clint-1.jpeg" alt="Multipurpose">
                                            </div>
                                            <div class="content">
                                                <h6 class="heading heading-h6">SCOTT JAMES</h6>
                                                <div class="text mt--10 pr--50 pr_sm--5">
                                                    <p class="bk_pra">To link your Facebook and Twitter accounts,
                                                        open the Instagram app on your phone or tablet, and select
                                                        the Profile tab in the bottom-right corner of the screen.
                                                    </p>
                                                </div>
                                                <div class="comment-footer mt--10">
                                                    <span>May 17, 2018 at 1:59 am</span>
                                                    <span class="reply-btn"><a href="#">Reply</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            -->
                            <!-- Start Comment Form -->
                            <!--
                            <div class="comment-form-wrapper">
                                <div class="header wow move-up">
                                    <h4 class="heading heading-h4">Leave A Comment</h4>
                                    <div class="coppent-note mt--20 mb--30">
                                        <p class="bk_pra">Your email address will not be published. Required fields
                                            are marked
                                        </p>
                                    </div>
                                </div>
                                <div class="contact-form wow move-up">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <input type="text" placeholder="Name *">
                                            </div>
                                            <div class="col-lg-12 mt--30">
                                                <input type="text" placeholder="Email *">
                                            </div>
                                            <div class="col-lg-12 mt--30">
                                                <input type="text" placeholder="Website">
                                            </div>
                                            <div class="col-lg-12 mt--30">
                                                <textarea placeholder="Your Comment"></textarea>
                                            </div>
                                            <div class="col-lg-12 mt--30">
                                                <div class="blog-btn">
                                                    <a class="brook-btn bk-btn-theme btn-sd-size btn-rounded space-between"
                                                       href="#">Post Comment</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            -->
                            <!-- End Comment Form -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt_md--60 mt_sm--60">
                        {% include '/template_2/blog/_sidebar' %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End Blog Details -->
    </main>
{% endblock %}
